<%= render 'header' %> 

<fieldset>
    <legend>
        <%= @title %> 
    </legend>

    <%= form_tag insert_ingredient_url(:id=>@r.id) do %> 
        <p>
            <table>
                <tr>
                    <th> Ingredient </th>
                    <th> </th>
                    <th> Amount </th>
                    <th> Unit </th>
                </tr>
                <% @ings.each_with_index do |i,j| %> 
                    <tr>

                        <td> 
                            <% unless i.class == Array %> 
                                <%= i.name %> 
                                <%= hidden_field_tag "ingredient[]", i.id %> 
                            </td> <td>
                            <% else %> 
                                <%= i.last %> 
                                </td> </td>
                                <%= select_tag "ingredient[]", options_from_collection_for_select(i.first, :id, :name), {:include_blank=>false} %>  
                            <% end %> 
                        </td>

                        <td>
                            <% unless @vs[j] == "" %> 
                                <%= @vs[j] %> 
                                <%= hidden_field_tag "amount[]", @vs[j] %> 
                            <% else %> 
                                <%= number_field_tag "amount[]", nil, :size => 2 %> 
                            <% end %> 
                        </td>

                        <td> 
                            <% unless @us[j].class == Array %>
                                <%= @us[j].name %> 
                                <%= hidden_field_tag "unit[]", @us[j].id %> 
                            <% else %> 
                                <%= @us[j].last %> 
                                <%= select_tag "unit[]", options_from_collection_for_select(@us[j].first, :id, :name) %>     
                            <% end %> 
                        </td>

                    </tr>

                <% end %>   


                        
            </table>
        </p>

    <p>
        <%= button_to "Add", check_ingredient_url(:id => @r.id) %> 
    </p>

    <% end %> 

</fieldset>
